.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    background-color: white;
    color: pink;
    font-weight: 800;
    border: 5px solid #fc03f8;
    border-radius: 50px;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__login {
    margin-left: auto;
}

